body {
    background-color: #393E46;
}
h1 {
    margin-bottom: 0;
    font-family: 'Lobster', cursive;
    font-size: 8rem;
    color: #4ECCA3;
    text-shadow: 5px 0 #232931;
}
h2 {
    font-family: 'Indie Flower', cursive;
    font-size: 2rem;
    color: #4ECCA3;
}
.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.player {
    margin: 40px;
    display: inline-block;
}

footer {
    margin-top: 1%;
    font-family: 'Indie Flower', cursive;
    color: #EEEEEE;
    text-align: center;
}
